@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers like Chrome and Safari */
/* You may need to add similar styling for other browsers */

/* Track */
::-webkit-scrollbar {
	width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #adadad;
	border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

/* Handle when it's dragged */
::-webkit-scrollbar-thumb:active {
	background-color: #555;
}

body,
input,
button {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

.dotted-element {
	outline: 2px dotted #cecece; /* You can adjust the width and color as needed */
}
